<div class='card'>
    <div class='card-header'>
      {{title + " " + salary.companyName}}
        <div class='table-responsive'>
            <table class='table'
                   >
              <thead>
                <tr>
                  <th>User ID</th>
                  <th>Company</th>
                  <th>Time Period</th>
                  <th>Date</th>
                  <th>Amount</th>
                </tr>
              </thead>
            <tbody>
              <tr >
                <td>{{salary.userId}}</td>
                 <td>
                <a >
                  {{salary.companyName}}
                </a></td>
                <td>{{salary.timePeriod | timePeriod}}</td>
                <td>{{salary?.taxDate?.day}} {{salary?.taxDate?.month}} {{salary?.taxDate?.year}} {{salary?.taxMonth?.month}} {{salary?.taxYear?.year}}</td>
                <td>{{salary.salaryAmount | currency: salary.currencyCode: 'symbol-narrow'}}</td>   
              </tr>
               
            </tbody>
          </table>
        </div > 
        <div class="btn-group gap-3">
          <button id='editButton' class="btn btn-outline-primary"
          class="btn btn-outline-primary" 
                [routerLink]="['/salary-add-edit', salary.id, 'edit']">Edit</button>
          <button id='deleteButton' class="btn btn-outline-danger" (click) = 'onClickDelete(salary)'>Delete</button>         
    </div>
  </div>
</div>

  
