<div class='card'>
    <div class='card-header'>
      {{title}}
    </div>
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-2'>Filter by:</div>
        <div class='col-md-4'>
          <input type='text' />
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <h4>Filtered by: </h4>
        </div>
      </div>
      <div class='table-responsive'>
        <table class='table' *ngIf = 'salaries.length' 
               >
          <thead>
            <tr>
              <th>User ID</th>
              <th>Company</th>
              <th>Time Period</th>
              <th>Date</th>
              <th>Amount</th>
              <th>Currency</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor= 'let salary of salaries' >
              <td>{{salary.userId}}</td>
               <td>
              <a class='link'  (click) = 'displaySalary (salary)' (click) = 'displayDetails()'>
                {{salary.companyName}}
              </a></td>
              <td>{{salary.timePeriod}}</td>
              <td>{{salary?.taxDate?.day}} {{salary?.taxDate?.month}} {{salary?.taxDate?.year}} {{salary?.taxMonth?.month}} {{salary?.taxMonth?.year}} {{salary?.taxYear?.year}}</td>
              <td>{{salary.salaryAmount}}</td>
              <td>{{salary.currencyCode}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div >

      <div *ngIf = 'showDetails'>
        <ad-salary-detail [salary] = 'salaryDetails' (deleteSalary) = 'onDeleteSalary($event)'></ad-salary-detail>
      </div>

    </div>
  
  </div>