<div class='card'>
    <div class='card-header'>
      {{title}}
    </div>
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-2'>Filter by:</div>
        <div class='col-md-2'>
          <input type='text'
                 placeholder="Company Name"
                [(ngModel)]= 'listFilter' />
        </div>
        <div class='col-md-2'>
          Filter by Time Period: 
       </div>
        <div class='col-md-2'>
         <button class="btn btn-outline-primary btn-sm"
                 (click)="filterDay()">Day</button> 
      </div>
      <div class='col-md-2'>
        <button class="btn btn-outline-primary btn-sm"
                (click)="filterMonth()">Month</button> 
     </div>
     <div class='col-md-2'>
      <button class="btn btn-outline-primary btn-sm"
              (click)="filterYear()">Year</button> 
   </div>
      <div class='row'>
        <div class='col-md-6'>
          <h4>Company Name: {{listFilter}}</h4>
        </div>
      </div>
      <div class='table-responsive'>
        <table class='table' *ngIf = 'salaries.length' 
               >
          <thead>
            <tr>
              <th>User ID</th>
              <th>Company</th>
              <th>Time Period</th>
              <th>Date</th>
              <th>Amount</th>
              <th>Currency</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor= 'let salary of filteredSalaries' >
              <td>{{salary.userId}}</td>
               <td>
              <a class='link'  (click) = 'displaySalary (salary)' (click) = 'displayDetails()'>
                {{salary.companyName}}
              </a></td>
              <td>{{salary.timePeriod}}</td>
              <td>
                <span *ngIf = "salary.timePeriod.toString() === 'PY' "> 
                  {{salary?.taxYear?.year}}
                </span> 
                <span *ngIf = "salary.timePeriod.toString() === 'PM' "> 
                  {{salary?.taxMonth?.month}}
                </span> 
                <span *ngIf = "salary.timePeriod.toString() === 'PD' "> 
                  {{salary?.taxDate?.day}} {{salary?.taxDate?.month}} {{salary?.taxDate?.year}} 
                </span> 
                </td>
              <td>{{salary.salaryAmount}}</td>
              <td>{{salary.currencyCode}}</td>
              <td></td>
            </tr>     
          </tbody>
        </table>
        <div>
        <button class="btn btn-outline-primary"
        [routerLink]="['/salary-add-edit/0/edit']">Add New</button>
        </div>
      </div >
      </div>
      <div>
      <span *ngIf = 'showDetails'>
        <ad-salary-detail [salary] = 'salary' (delSalary) = 'deleteSalary($event)'></ad-salary-detail>
      </span>
      </div>
      <div>
      <div class="alert alert-success" role="alert" *ngIf = "deleteMessage">
        Salary Successfully Deleted.
      </div>
      <div class="alert alert-danger" role="alert" *ngIf = 'errorMessage'>
        A problem was encountered when deleting the salary. Please try again.
      </div>
      </div>

    </div>
  
  </div>