<nav class='navbar navbar-expand navbar-light bg-light'>
  <a class='navbar-brand'> <img src="./assets/logo_crop.png"
    class="img-responsive center-block"
    style="max-height:100px;padding-bottom:40px" /></a>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' routerLink='/welcome'>Home</a></li>
    <li><a class='nav-link' routerLink='/salary-list'>Salary List</a></li>
    <li><a class='nav-link' [routerLink]="['/salary-add-edit/0/edit']">Add Salary</a></li>
  </ul>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>

  