<div class="card">
    <div class="card-header">
      {{title}}
    </div>
  
    <div class="card-body">
      <form novalidate
            (ngSubmit)="saveSalary()"
            [formGroup]="salaryForm">
  
           <!--Company Name text box--> 
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="companyNameId">Company Name</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="companyNameId"
                   type="text"
                   formControlName="companyName"
                   [ngClass]="{'is-invalid': (salaryForm.get('companyName')!.touched || salaryForm.get('companyName')!.dirty) && !salaryForm.get('companyName')!.valid }" />
            <span class="btn-sm">
             Please enter company name between 2 and 100 characters
            </span>
          </div>
        </div>
  
        <!--Time Period user was paid drop-down list-->
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="timePeriodId">Date Paid</label>
          <div class="col-md-8">
            <select class="form-control"
                   id="timePeriodId"
                   formControlName="timePeriod"
                   [ngClass]="{'is-invalid': (salaryForm.get('timePeriod')!.touched || salaryForm.get('timePeriod')!.dirty) && !salaryForm.get('timePeriod')!.valid }">
                   <option *ngFor="let formPeriod of formPeriods" [value]="formPeriod.value">{{formPeriod.text}}</option>
                </select>
                <span class="btn-sm">
                  Please select a time period of payment.
                 </span>
          </div>
        </div>
  
        <!--Full tax year drop down list-->
        <div class="form-group row mb-2" *ngIf="salaryForm.get('timePeriod')!.value === 'PY'">
            <label class="col-md-2 col-form-label"
                   for="taxYearId">Select Year</label>
            <div class="col-md-8">
              <select class="form-control"
                     id="taxYearId"
                     formControlName="taxYear"
                     [ngClass]="{'is-invalid': (salaryForm.get('taxYear')!.touched || salaryForm.get('taxYear')!.dirty) && !salaryForm.get('taxYear')!.valid }">
                  <option *ngFor="let formYear of formYears" [value]="formYear.value">Total for {{formYear.text}} Tax Year</option>
                
                  </select>
                  <span class="btn-sm">
                      Please select a tax year.
                  </span>
            </div>
          </div>
       
          <!--taxMonthMonth drop down for taxMonth-->
          <div class="form-group row mb-2" *ngIf="salaryForm.get('timePeriod')!.value === 'PM'">
            <label class="col-md-2 col-form-label"
                   for="taxMonthId">Select Month</label>
            <div class="col-md-8">
              <select class="form-control"
                     id="taxMonthId"
                     formControlName="taxMonth"
                     required
                     [ngClass]="{'is-invalid': (salaryForm.get('taxMonth')!.touched || salaryForm.get('taxMonth')!.dirty) && !salaryForm.get('taxMonth')!.valid }">
                     <option *ngFor="let formMonth of formMonths" [value]="formMonth.value" >Total for {{formMonth.text}}</option>
                  </select>
                  <span class="btn-sm">
                      Please select your tax month payment was received.
                  </span>
            </div>
          </div>
       
         <!--taxDayDay drop down for taxDay-->
         <div class="form-group row mb-2" *ngIf="salaryForm.get('timePeriod')!.value === 'PD'">
            <label class="col-md-2 col-form-label"
                   for="taxDayDayId">Select Day</label>
                   <div class="col-md-2">
              <select class="form-control"
                     id="taxDayDayId"
                     formControlName="taxDayDay"
                     [ngClass]="{'is-invalid': (salaryForm.get('taxDayDay')!.touched || salaryForm.get('taxDayDay')!.dirty) && !salaryForm.get('taxDayDay')!.valid }">
                   <option *ngFor="let formDayDay of formDayDays" [value]="formDayDay.value" >{{formDayDay.text}}</option>                           
                  </select>
                  <span class="btn-sm">
                      Day
                  </span>
               </div>
            
               <!--taxDayMonth drop down for taxDay-->            
            <div class="col-md-3">
              <select class="form-control"
                     id="taxDayMonthId"
                     formControlName="taxDayMonth"
                     [ngClass]="{'is-invalid': (salaryForm.get('taxDayMonth')!.touched || salaryForm.get('taxDayMonth')!.dirty) && !salaryForm.get('taxDayMonth')!.valid }">
                     <option *ngFor="let formDayMonth of formDayMonths" [value]="formDayMonth.value">{{formDayMonth.text}}</option>
                  </select>
                  <span class="btn-sm">
                      Month
                  </span>
            </div>
          
          <!--taxDayYear drop down for taxDay-->   
          <div class="col-md-2">
              <select class="form-control"
                     id="taxDayYearId"
                     formControlName="taxDayYear"
                     [ngClass]="{'is-invalid': (salaryForm.get('taxDayYear')!.touched || salaryForm.get('taxDayYear')!.dirty) && !salaryForm.get('taxDayYear')!.valid }">
                     <option *ngFor="let formDayYear of formDayYears" [value]="formDayYear.value">{{formDayYear.text}}</option>
                  </select>
                  <span class="btn-sm">
                      Year
                  </span>
                 </div>     
            </div>
      
         <!--Textbox for the salary amount-->
          <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="salaryAmountId">Amount Paid</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="salaryAmountId"
                   type="number"
                   formControlName="salaryAmount"
                   [ngClass]="{'is-invalid': (salaryForm.get('salaryAmount')!.touched || salaryForm.get('salaryAmount')!.dirty) && !salaryForm.get('salaryAmount')!.valid }" />
            <span class="btn-sm">
              Please enter the salary amount received.
            </span>
          </div>
        </div>

         <!--Drop down for the salary currency-->
         <div class="form-group row mb-2">
            <label class="col-md-2 col-form-label"
                   for="currencyCodeId">Salary Currency</label>
            <div class="col-md-8">
              <select class="form-control"
                     id="currencyCodeId"
                     formControlName="currencyCode"
                     [ngClass]="{'is-invalid': (salaryForm.get('currencyCode')!.touched || salaryForm.get('currencyCode')!.dirty) && !salaryForm.get('currencyCode')!.valid }" >
                     <option value=""
                     disabled
                     selected
                     hidden></option>
                  <option value="ZAR">ZAR</option>
                  <option value="GBP">GBP</option>
                  <option value="EUR">EUR</option>
                  <option value="USD">USD</option>
                  <option value="CAD">CAD</option>
                  </select>
                  <span class="btn-sm">
                      Please select the currency the amount was paid in.
                  </span>
            </div>
          </div>
  
        <div class="form-group row mb-2">
          <div class="offset-md-2 col-md-4">
            <button class="btn btn-primary mr-3"
                    type="submit"
                    style="width:80px"
                    [title]="salaryForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                    [disabled]="!salaryForm.valid">
              Save
            </button>
            <button class="btn btn-outline-secondary"
                    type="Cancel"
                    [routerLink]="['/salary-list']">
                    
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br>Dirty: {{ salaryForm.dirty }}
  <br>Touched: {{ salaryForm.touched }}
  <br>Valid: {{ salaryForm.valid }}
  <br>Value: {{ salaryForm.value | json }}
